*{padding: 0;
	margin: 0 ;
box-sizing: border-box;}


.container {
  padding: 0 10px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 20px;
}

body { font-family:'Poppins', sans-serif; }


.header{display :flex;
  background-color: #008fc7;
  color: #fff;
  flex-wrap:wrap;
}

.head{min-width:100px;
  height: 60px;           
text-align: center;
font-size: 16px;
padding: 5px;
flex-grow: 1;}

.head-h1{display: inline-block;
  min-width:100px;       
text-align: center;
padding: 5px;
flex-grow: 1;
  height: 50px;     
font-size: 16px;}   

.head-h2{display: inline-block;
  height: 50px; 
  min-width:100px;
text-align: center;
padding: 5px;
flex-grow: 1;    
font-size: 12px;
padding-top: 10px;}

.topnav ul{
  display: flex;
padding: 0;
list-style: none;
justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;}

.topnav li {flex: 1;}

.topnav a{text-decoration: none;
color:white;
 font-weight:bold;
text-transform: uppercase;
padding:20px 5px;  }

.topnav a:hover{
 color: #048e3b;
                                                                                                                                                                                                   
}
.topnav a:active{
color:#048e3b;}

.intro-container{
  background:url("images/Fhg-pc-background.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  z-index: -1;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;

}           
   
.intro{flex-grow: 1;
min-width:20px;
margin-top: 55px;
 }
 
.intro-head{text-align: center;
font-size:3rem;
padding: 20px;                                                            
-webkit-animation: fadeIn 5s;}
                   
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                   
.intro-text{text-align: center;
font-size: 2rem;
padding: 20px;

-webkit-animation: fadeAndscale 5s;
} 

@keyframes fadeAndscale {
  0% { opacity: 0; }  
   100% { opacity: 1; }

} 

.f-box{display:flex;
  flex-wrap: wrap;
flex-direction: row-reverse;
  padding: 150px 40px;}

.f-boxr{display:flex;
    flex-wrap: wrap;
  flex-direction: row-reverse;
    padding: 150px 40px;
    margin-top: 50px;
    align-items: center;}



section{min-height:600px ;}

.first-section{min-height: 600px;
  background:#008fc7;}

.second-section{min-height: 600px;}

  .third-section{min-height: 700px;
    background:#048e3b;;}


.f-box{display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 150px 40px;
margin: 0 auto;
align-items: center;}

.f-boxr{display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 150px 40px;
  margin: 0 auto;
  align-items: center;}


.images-box{flex-grow: 1;
  min-width: 200px;
width: 50%;}

.images-box-img{width: 100%;
height:auto;
margin:0 auto;}

.text-box{flex-grow: 1;
  width:50%;
  color: #fff;
text-align: left;
}

.text-boxr{flex-grow: 1;
  width:50%;
  color: #02638a;
text-align:left;
}

.text-box-head{font-size: 30px;
  text-align: center;
font-weight: 400;}



.mini-flexbox{
  display: flex;
 flex-wrap: wrap;
}    
         
.box{ flex-grow:1; 
  min-width: 50px;
  color: #004d6b;
 text-align: center;
margin: 10px 5px;}      
                
 .box:hover{
  margin: 15px 10px;
  transition: 0.4s ease;
}

.one{flex-grow:8;
min-width: 98%;}

.two{flex-grow:2;}

.three{flex-grow:1;}
                             
.topic{
  text-align: center;
margin: 7px 0px;}


.text{font-size: 20px;
padding: 5px;
text-align: center;}

#spacer{height: 100px;
	width: 100%;
}


#leaders{text-align: center;
font-size: 30px;}

.leader-name{font-size: 25px;}

.about-leader{font-size:15px;}

.profile-pic{margin: 0 auto;
  width: 100%;
  height: auto}

.row{display: flex;
  min-width: 100px;
flex-wrap: wrap;}

.column {flex-grow: 1;
  padding: 5px;
  min-height: 100%;
  width: 30%;
margin-bottom: 16px;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  min-height: 96%;
}




hidden {
  display: none;
}


footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#008fc7;
    height: auto;
    width:100% ;
    padding-top: 25px;
    color: #fff;
}                                            

.footer-content{
    display:flex;
    text-align: center;
    flex-wrap: wrap;
    min-width: 200px;
}
.footer-content h3{flex-grow: 6;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    
}
.footer-content p{flex-grow: 6; 
    margin: 10px auto;
    line-height: 2rem;
    font-size: 20px;
    color: #fff}

    
/*mobile veiw code*/

@media (min-width:320px) and (max-width:500px){
  
  .intro-container{
    background:url("images/Fhg-mobile-bg.png");
    background-color: rgba(116, 116, 116, 0.495) ;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    z-index: -1;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  
  }    
  
  
    .head{min-width:100px;
      height: 40px;           
    text-align: center;
    padding: 5px;
    font-size: 13px;
    flex-grow: 1;}
  
    
  .head-h1{
    height: 50px;     
  }  
  
@media (max-width:320px){

  .head-h1{
    height: 100px;     
  }  }
  

  
  .intro{margin: 30px auto;}
  .intro-head{text-align: center;
  font-size:2rem;
  padding: 10px;                                                            
  -webkit-animation: fadeIn 5s;}
                      
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }
                                                
  .column {
    width: 55%;

  }
                    
  .intro-text{text-align: center;
  font-size: 2rem;
  padding: 10px;
  margin: 0px;
  -webkit-animation-: fadeAndscale 7s;
  }   
            
  @keyframes fadeAndscale {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }}
